fastapi
uvicorn
gunicorn
pandas
numpy
scipy
python-multipart
pydantic
pyxirr
openpyxl
pymupdf
openai
htmldocx
requests
boto3
langchain
langchain-openai 
langchain-core
langchain-aws
langchain-community
langchain-anthropic
aiohttp