fastapi
uvicorn
gunicorn
pandas
numpy
scipy
python-multipart
pydantic
pyxirr
openpyxl
pymupdf
openai
htmldocx
requests
boto3
langgraph
langchain
langchain-openai 
langchain-core
langchain-aws
langchain-community
langchain-anthropic
langchain_google_genai
aiohttp
PyPDF2
Jinja2
markdown